.fretboard {
  height: 100%;
  max-height: 100%;
  /* width: 100%; */
  aspect-ratio: 1 / 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
  box-sizing: border-box;
}

.fretboard-body {
  background: url('https://raw.githubusercontent.com/jondeh/no-db/master/src/dark-wood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100% - 50px);
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-right: 0px;
  position: relative;
  box-shadow: 0px 0px 15px 2px black;
  box-sizing: border-box;
}

.fretboard-body2 {
  /* background: url('./dark-wood.jpg'); */
  /* border: 2px solid black; */
  height: 75%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr [strings]);
  margin-right: 0px;
  position: relative;
  box-shadow: 4px 2px 5px 2px black;
  box-sizing: border-box;
}

.fretboard-body3 {
  /* background: url('./interesting-wood.jpg'); */
  /* border: 2px solid black; */
  height: 75%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr [strings]);
  margin-right: 0px;
  position: relative;
  box-shadow: 4px 2px 5px 2px black;
  box-sizing: border-box;
}

.fretboard-bodyRyan {
  /* background: url('./IMG959258[1].jpg'); */
  background-position: center;
  background-size: 220%;
  /* border: 2px solid black; */
  height: 75%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr [strings]);
  margin-right: 0px;
  position: relative;
  box-shadow: 4px 2px 5px 2px black;
  box-sizing: border-box;
}

.fretboard-bodyUnicorn {
  /* background: url('./unicorn.jpg'); */
  background-position: 63%;
  background-size: 490%;
  /* border: 2px solid black; */
  height: 75%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr [strings]);
  margin-right: 0px;
  position: relative;
  box-shadow: 4px 2px 5px 2px black;
  box-sizing: border-box;
}

.fretboard-bodyPerez {
  /* background: url('./IMG_1509.JPG'); */
  background-position: 50%;
  background-size: 255%;
  /* border: 2px solid black; */
  height: 75%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr [strings]);
  margin-right: 0px;
  position: relative;
  box-shadow: 4px 2px 5px 2px black;
  box-sizing: border-box;
}

.circles-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 49px 4px 49px 0;
}

.circle {
  height: 27px;
  width: 27px;
  border-radius: 100px;
  z-index: 15;
  /* background: url('./silver2.jpeg'); */
  background: grey;
}

.display-strings {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
}

.display-string {
  position: relative;
  z-index: 25;
}

.display-string::before {
  content: '';
  position: absolute;
  bottom: calc(100% + 10px);
  transform: translateX(-50%);
  height: 45px;
  width: 45px;
  background: rgba(0, 0, 0, 0.144);
  border-radius: 50px;
  font-weight: bold;
  color: black;
  display: grid;
  place-content: center;
  font-size: 40px;
  box-sizing: border-box;
}

.display-string.open::before {
  background: transparent;
  border: 5px solid var(--selected-note-color);
  box-shadow: var(--selected-note-shadow);
}
.display-string.open:hover::before {
  border: none;
}

.display-string.mute::before {
  content: 'X';
  background: transparent;
  border: none;
}

.display-string:hover::before {
  box-shadow: 0 0 10px 2px lightcoral;
}

.display-string:hover {
  border-left-color: lightcoral !important;
}
.mute:hover {
  border-color: var(--selected-note-color) !important;
}
.mute:hover::before {
  box-shadow: 0 0 4px 0.2rem var(--selected-note-color) !important;
}

.display-string:first-child::before {
  content: '';
  display: none;
}

.display-string:nth-child(2) {
  border-left: 7px groove var(--guitar-string);
}
.display-string:nth-child(3) {
  border-left: 6px groove var(--guitar-string);
}
.display-string:nth-child(4) {
  border-left: 5px groove var(--guitar-string);
}
.display-string:nth-child(5) {
  border-left: 4px groove var(--guitar-string);
}
.display-string:nth-child(6) {
  border-left: 3px groove var(--guitar-string);
}
.display-string:nth-child(7) {
  border-left: 2px groove var(--guitar-string);
}

.display-frets {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
}

.display-fret {
  border: 2px groove rgb(170, 164, 164);
  border-right: none;
  border-left: none;
}

.note {
  z-index: 50;
  position: relative;
}

.note-selected {
  height: 100%;
  width: 100%;
  place-self: center;
  display: grid;
  place-content: center;
  position: relative;
  z-index: 100;
}
.note-selected::after {
  content: '';
  border-radius: 100px;
  box-shadow: inset 0 0 10px 0 white;
  box-shadow: var(--selected-note-shadow);
  background: var(--selected-note-color);
  height: 85%;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.note:active {
  transform: translateY(2px);
}

.string {
  display: grid;
}

.noteName {
  visibility: hidden;
  /* background-color: var(--string-hover); */
  /* background-color: var(--selected-note-color); */
  border: 4px solid var(--selected-note-color);
  color: white;
  font-size: 17px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 38px;
  font-weight: bold;
  height: 85%;
  width: 85%;
  place-self: center;
  border-radius: 100px;
  display: grid;
  place-content: center;
  /* box-shadow: 0 0 10px 2px lightgreen; */
}

.note:hover .noteName {
  visibility: visible;
}
