* {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #111111;
}

#root {
  height: 100vh;
}

.App {
  display: grid;
  grid-template-columns: 0.75fr 1fr 1.25fr;
  align-items: center;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
  justify-content: space-between;
  background: #f7f7f7;
}

@media (max-width: 1300px) {
  .App {
    display: flex;
    flex-direction: column;
    height: max-content;
    max-height: initial;
    overflow: auto;
    align-items: center;
    grid-template-columns: initial;
    justify-content: flex-start;
  }
}